# DRIVER
driver.id=D-002
# driver.file=servicios.txt
driver.authTimeoutMs=5000

# KAFKA
kafka.enabled=true
kafka.bootstrap=localhost:9094
kafka.bootstrapServers=localhost:9094

kafka.groupId=ev-driver-D-002
kafka.clientId=driver-D-002
kafka.debug=true

# Topics
kafka.topic.cmd=ev.cmd.v1
kafka.topic.sessions=ev.sessions.v1
