# CENTRAL
central.listenPort=5000
central.httpPort=8080

# KAFKA
kafka.enabled=true
kafka.bootstrap=kafka:9092
kafka.bootstrapServers=kafka:9092

kafka.groupId=ev-central
kafka.clientId=central
kafka.debug=true
kafka.autoCreateTopics=true
kafka.topics.init=ev.cmd.v1,ev.sessions.v1,ev.telemetry.v1,ev.status.v1

# Topics
kafka.topic.cmd=ev.cmd.v1
kafka.topic.sessions=ev.sessions.v1
kafka.topic.telemetry=ev.telemetry.v1
kafka.topic.status=ev.status.v1

# BBDD
db.url=jdbc:sqlserver://V-VDS-DBA.c-salud.local:1440;databaseName=EVCharging;encrypt=true;trustServerCertificate=true
db.user=EVChargingUser
db.pass=YourStrong!Passw0rd