#ENGINE
engine.cpId=CP-002
engine.healthPort=6101
engine.potenciaKW=7.2
engine.durationSec=0

# KAFKA
kafka.enabled=true
kafka.bootstrap=localhost:9094
kafka.bootstrapServers=localhost:9094

kafka.clientId=engine-cp002
kafka.groupId=engine-cp002
kafka.auto.offset.reset=earliest

# Topics
kafka.topic.telemetry=ev.telemetry.v1
kafka.topic.sessions=ev.sessions.v1
kafka.topic.cmd=ev.cmd.v1