services:
  kafka:
    image: apache/kafka:4.1.0
    container_name: kafka
    ports:
      - "9092:9092"   # interno
      - "9094:9094"   # externo
    environment:
      CLUSTER_ID: "${CLUSTER_ID}"
      KAFKA_HEAP_OPTS: "-Xms256m -Xmx512m"
    volumes:
      - ./config/server.properties:/etc/kafka/server.properties:ro
      - kafka_data:/var/lib/kafka/data
    command: >
      /bin/bash -lc '
        if [ ! -f /var/lib/kafka/data/meta.properties ]; then
          /opt/kafka/bin/kafka-storage.sh format -t "$CLUSTER_ID" -c /etc/kafka/server.properties;
        fi;
        exec /opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
      '
    restart: unless-stopped

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    depends_on: [kafka]
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
      SERVER_PORT: 9000

volumes:
  kafka_data:
