central.listenPort=5000
central.consolePanel=false
central.httpPort=8080

db.url=jdbc:sqlserver://V-VDS-DBA.c-salud.local:1440;databaseName=EVCharging;encrypt=true;trustServerCertificate=true
db.user=EVChargingUser
db.pass=YourStrong!Passw0rd

kafka.enable=true
kafka.bootstrap=localhost:9092
kafka.clientId=central-1
kafka.groupId=central-cmds-1

kafka.topic.telemetry=ev.telemetry.v1
kafka.topic.sessions=ev.sessions.v1
kafka.topic.status=ev.status.v1
kafka.topic.cmd=ev.cmd.v1