# Identidad
driver.id=D-001
# driver.file=servicios.txt   # (opcional) lista de CPs, uno por línea

# Timeouts (segundos)
driver.startTimeoutSec=20
driver.endTimeoutSec=600

# Kafka
kafka.bootstrapServers=127.0.0.1:9092
kafka.topic.cmd=ev.cmd.v1
kafka.topic.sessions=ev.sessions.v1
kafka.topic.telemetry=ev.telemetry.v1
kafka.group.id=driver
kafka.client.id=driver-1