engine.centralHost=127.0.0.1
engine.centralPort=5000

engine.healthPort=6100

engine.cpId=CP-001
engine.potenciaKW=7.2
engine.durationSec=15   #Duración de la sesión demo (Luego será real)
engine.precio=0.35

kafka.enable=true
kafka.bootstrap=localhost:9092
kafka.clientId=engine-${engine.cpId}
kafka.groupId=engine-cmds
kafka.topic.cmd=ev.cmd.v1
kafka.topic.telemetry=ev.telemetry.v1