#ENGINE
engine.cpId=CP-001
engine.healthPort=6100
engine.potenciaKW=7.2
engine.durationSec=0
engine.consolepanel=true
engine.httpPort=8081

# KAFKA
kafka.enabled=true
kafka.bootstrap=localhost:9094
kafka.bootstrapServers=localhost:9094

kafka.clientId=engine-cp-001
kafka.groupId=engine-cp-001
kafka.auto.offset.reset=earliest

# Topics
kafka.topic.telemetry=ev.telemetry.v1
kafka.topic.sessions=ev.sessions.v1
kafka.topic.cmd=ev.cmd.v1