# URL HTTP de EV_Central
evw.centralUrl=http://127.0.0.1:8080

# Clave de OpenWeather (la que te dan al registrarte)
openweather.apiKey=TU_API_KEY

# Cada cuántos segundos refrescar (p.ej. cada 5 minutos)
openweather.intervalSec=4

# Kafka (igual que en central.config / engine.config)
kafka.bootstrap=localhost:9092
kafka.clientId=evw
kafka.topic.telemetry=ev.telemetry.v1