# --- URL de CENTRAL para leer /api/cps ---
evw.centralUrl=http://127.0.0.1:8080

# --- OpenWeather ---
openweather.apiKey=
openweather.intervalSec=4

# --- Kafka (MISMA CONFIG QUE CENTRAL) ---
kafka.enabled=true
kafka.bootstrap=localhost:9094
kafka.bootstrapServers=localhost:9094

kafka.groupId=evw-group
kafka.clientId=evw
kafka.debug=true
kafka.autoCreateTopics=true

# Topic de telemetría (el mismo que CENTRAL)
kafka.topic.telemetry=ev.telemetry.v1