# --- Central & Engine ---
monitor.centralHost=127.0.0.1
monitor.centralPort=5000

monitor.engineHost=127.0.0.1
monitor.enginePort=6100

# --- Datos del CP (ID, ubicación y precio) ---
cp.id=CP-001
cp.location=Antarctica
monitor.precio=0.35

# --- EVRegistry ---
registry.url=http://127.0.0.1:8082/api/registry/register
registry.secret.file=config/registry.secret

# --- Clave simétrica CP <-> Central ---
auth.key.file=config/cp.key