monitor.centralHost=127.0.0.1
monitor.centralPort=5000

monitor.engineHost=127.0.0.1
monitor.enginePort=6100

monitor.cpId=CP-001
monitor.ubicacion=Valencia-Centro
monitor.precio=0.35

cp.id=CP-001
cp.location=Alicante

registry.url=http://127.0.0.1:8082/api/registry/register
registry.secret.file=config/registry.secret

auth.key.file=config/cp.key