# DRIVER
driver.id=D-001
driver.file=config/servicios.txt
driver.authTimeoutMs=5000

# KAFKA
kafka.enabled=true
kafka.bootstrap=localhost:9094
kafka.bootstrapServers=localhost:9094

kafka.groupId=ev-driver-D-001
kafka.clientId=driver-D-001
kafka.debug=true

# Topics
kafka.topic.cmd=ev.cmd.v1
kafka.topic.sessions=ev.sessions.v1
